
  @font-face {
    font-family: "Euclid";
    font-weight: 400;
    src:url("../fonts/Euclid-Circular-A-Regular.ttf") format("truetype"),
  } 

  @font-face {
    font-family: "Euclid";
    font-weight: 600;
    src:url("../fonts/Euclid-Circular-A-SemiBold.ttf") format("truetype"),
  } 
 
  @font-face {
    font-family: "Popins";
    font-weight: 400;
    src:url("../fonts/Poppins-Regular.ttf") format("truetype"),
  } 
  @font-face {
    font-family: "Popins";
    font-weight: 500;
    src:url("../fonts/Poppins-Medium.ttf") format("truetype"),
  } 
  @font-face {
    font-family: "Popins";
    font-weight: 700;
    src:url("../fonts/Poppins-Bold.ttf") format("truetype"),
  } 
 