<!DOCTYPE html>
<html lang="az">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/img/nafav.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="assets/css/plugins.min.css">
    <link rel="stylesheet" href="assets/css/style.min.css">
    <title>Nadir Yusibov</title>
</head>

<body>
    <header class="header-menu">
        <div class="container">
            <div class="row header-menu__flex">
                <div class="col-md-4">
                    <a href="#" class="header-menu__logo"><img src="../assets/img/nadirr.svg" alt="logo"></a>
                </div>
                <div class="col-md-8">
                    <ul class="header-menu__bar">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#" class="social-media"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="social-media"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
   

    <!-- mobile menu start -->

    <!-- mobile menu end -->